{
  "openapi": "3.0.0",
  "info": {
    "title": "HLTV.org Reverse Engineered API",
    "version": "1.0.0",
    "description": "Auto-generated by reverse-hltv.js on 2026-03-20T22:30:12.374Z"
  },
  "servers": [
    {
      "url": "https://www.hltv.org"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "GET /",
        "description": "Seen on pages: /\nSeen 1 time(s)\nExample URL: https://www.hltv.org/",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df8241ab919e4dc-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:26:53 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=3,cfOrigin;dur=0,cfWorker;dur=52",
          "set-cookie": "[REDACTED]",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "STALE"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"
        }
      },
      "post": {
        "summary": "POST /",
        "description": "Seen on pages: /, /matches, /results, /events, /ranking/teams, /stats/players, /stats/teams, /stats/matches, /news/archive, /forums, /streams, /player/7998/s1mple, /team/4608/natus-vincere, /events/8413/iem-katowice-2025, /stats/players/7998/s1mple, /stats/teams/4608/natus-vincere, /stats/teams/maps/4608/natus-vincere, /stats/teams/matches/4608/natus-vincere, /stats/teams/events/4608/natus-vincere\nSeen 36 time(s)\nExample URL: https://ncuxt.hltv.org/",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "dataPoints": [
                  {
                    "placementId": "IndexHeroReplace",
                    "adId": null,
                    "pageLoadFirstImpressionCount": 1,
                    "totalImpressionCount": 1,
                    "adClientId": "hltv"
                  },
                  {
                    "placementId": "FourthColumnMiddle1",
                    "adId": null,
                    "pageLoadFirstImpressionCount": 1,
                    "totalImpressionCount": 1,
                    "adClientId": "hltv"
                  },
                  {
                    "placementId": "FourthColumnMiddle2",
                    "adId": null,
                    "pageLoadFirstImpressionCount": 1,
                    "totalImpressionCount": 1,
                    "adClientId": "hltv"
                  },
                  {
                    "placementId": "DESKTOP_STICKY_FOOTER",
                    "adId": null,
                    "pageLoadFirstImpressionCount": 1,
                    "totalImpressionCount": 1,
                    "adClientId": "hltv"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "*/*": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "access-control-allow-origin": "*",
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-ray": "9df824362afbe4e9-RIX",
          "content-length": "2",
          "content-type": "text/plain;charset=UTF-8",
          "date": "Fri, 20 Mar 2026 22:26:57 GMT",
          "server": "cloudflare",
          "set-cookie": "[REDACTED]",
          "vary": "accept-encoding"
        },
        "x-request-headers": {
          "sec-ch-ua-platform": "\"Windows\"",
          "referer": "https://www.hltv.org/",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "content-type": "text/plain;charset=UTF-8",
          "sec-ch-ua-mobile": "?0",
          "accept": "*/*",
          "origin": "https://www.hltv.org"
        }
      }
    },
    "/cdn-cgi/speculation": {
      "get": {
        "summary": "GET /cdn-cgi/speculation",
        "description": "Seen on pages: /, /matches, /results, /events, /ranking/teams, /stats/players, /stats/teams, /stats/matches, /news/archive, /forums, /streams, /player/7998/s1mple, /team/4608/natus-vincere, /events/8413/iem-katowice-2025, /stats/players/7998/s1mple, /stats/teams/4608/natus-vincere, /stats/teams/maps/4608/natus-vincere, /stats/teams/matches/4608/natus-vincere, /stats/teams/events/4608/natus-vincere\nSeen 20 time(s)\nExample URL: https://www.hltv.org/cdn-cgi/speculation",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "example": {
                  "prefetch": [
                    {
                      "eagerness": "conservative",
                      "source": "document",
                      "where": {
                        "and": [
                          {
                            "href_matches": "/*",
                            "relative_to": "document"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-response-headers": {
          "access-control-allow-origin": "https://www.hltv.org",
          "cf-ray": "9df8241b7982e4dc-RIX",
          "content-length": "128",
          "content-type": "application/speculationrules+json",
          "date": "Fri, 20 Mar 2026 22:26:53 GMT",
          "server": "cloudflare",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "Origin"
        },
        "x-request-headers": {
          "origin": "https://www.hltv.org",
          "sec-ch-ua-platform": "\"Windows\"",
          "referer": "https://www.hltv.org/",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-mobile": "?0",
          "accept": "*/*",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/img/static/favicon/manifest.json": {
      "get": {
        "summary": "GET /img/static/favicon/manifest.json",
        "description": "Seen on pages: /, /matches, /results, /events, /ranking/teams, /stats/players, /stats/teams, /stats/matches, /news/archive, /forums, /streams, /player/7998/s1mple, /team/4608/natus-vincere, /events/8413/iem-katowice-2025, /stats/players/7998/s1mple, /stats/teams/4608/natus-vincere, /stats/teams/maps/4608/natus-vincere, /stats/teams/matches/4608/natus-vincere, /stats/teams/events/4608/natus-vincere\nSeen 19 time(s)\nExample URL: https://www.hltv.org/img/static/favicon/manifest.json",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "example": {
                  "name": "",
                  "icons": [
                    {
                      "src": "/img/static/favicon/android-chrome-192x192.png",
                      "sizes": "192x192",
                      "type": "image/png"
                    },
                    {
                      "src": "/img/static/favicon/android-chrome-256x256.png",
                      "sizes": "256x256",
                      "type": "image/png"
                    }
                  ],
                  "theme_color": "#3e6ea0",
                  "background_color": "#3e6ea0",
                  "display": "standalone"
                }
              }
            }
          }
        },
        "x-response-headers": {
          "access-control-allow-origin": "*",
          "age": "699706",
          "alt-svc": "h3=\":443\"; ma=86400",
          "cache-control": "public, max-age=86400",
          "cf-cache-status": "HIT",
          "cf-ray": "9df8241d7cece4e9-RIX",
          "content-encoding": "br",
          "content-type": "application/json",
          "date": "Fri, 20 Mar 2026 22:26:53 GMT",
          "expires": "Sat, 21 Mar 2026 22:26:53 GMT",
          "last-modified": "Thu, 12 Mar 2026 20:05:06 GMT",
          "server": "cloudflare",
          "set-cookie": "[REDACTED]",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "sec-ch-ua-platform": "\"Windows\"",
          "referer": "https://www.hltv.org/",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-mobile": "?0",
          "accept": "*/*"
        }
      }
    },
    "/dynamic-svg/teamplaceholder": {
      "get": {
        "summary": "GET /dynamic-svg/teamplaceholder",
        "description": "Seen on pages: /, /matches, /results, /ranking/teams, /stats/players, /forums, /streams, /player/7998/s1mple, /team/4608/natus-vincere, /stats/teams/maps/4608/natus-vincere\nSeen 78 time(s)\nExample URL: https://www.hltv.org/dynamic-svg/teamplaceholder?letter=B",
        "parameters": [
          {
            "in": "query",
            "name": "letter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "*/*": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "access-control-allow-origin": "*\n*",
          "age": "5902",
          "alt-svc": "h3=\":443\"; ma=86400",
          "cache-control": "public, max-age=28800",
          "cf-cache-status": "HIT",
          "cf-ray": "9df824200d8ae4d0-RIX",
          "content-encoding": "br",
          "content-type": "image/svg+xml; charset=UTF-8",
          "date": "Fri, 20 Mar 2026 22:26:54 GMT",
          "expires": "Sat, 21 Mar 2026 06:26:54 GMT",
          "last-modified": "Fri, 20 Mar 2026 20:48:31 GMT",
          "server": "cloudflare",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "Accept-Encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "sec-ch-ua-platform": "\"Windows\"",
          "referer": "https://www.hltv.org/",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-mobile": "?0",
          "accept": "image/avif,image/webp,image/apng,image/svg+xml,image/*,*/*;q=0.8",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/socket.io/": {
      "get": {
        "summary": "GET /socket.io/",
        "description": "Seen on pages: /, /matches, /streams\nSeen 12 time(s)\nExample URL: https://scorebot-lb.hltv.org/socket.io/?EIO=3&transport=polling&t=PqDMzTS",
        "parameters": [
          {
            "in": "query",
            "name": "EIO",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "t",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "transport",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sid",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "*/*": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "access-control-allow-credentials": "true",
          "access-control-allow-origin": "https://www.hltv.org",
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df8242c5c38e4d0-RIX",
          "content-encoding": "gzip",
          "content-type": "application/octet-stream",
          "date": "Fri, 20 Mar 2026 22:26:56 GMT",
          "server": "cloudflare",
          "set-cookie": "[REDACTED]",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding"
        },
        "x-request-headers": {
          "sec-ch-ua-platform": "\"Windows\"",
          "referer": "https://www.hltv.org/",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "accept": "*/*",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-mobile": "?0",
          "cookie": "[REDACTED]",
          "origin": "https://www.hltv.org"
        }
      },
      "post": {
        "summary": "POST /socket.io/",
        "description": "Seen on pages: /, /matches, /streams\nSeen 3 time(s)\nExample URL: https://scorebot-lb.hltv.org/socket.io/?EIO=3&transport=polling&t=PqDMzWc&sid=84e19e0f-ca1f-4cec-8a7b-e2370c520dc1",
        "parameters": [
          {
            "in": "query",
            "name": "EIO",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sid",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "t",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "transport",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "109:42[\"readyForScores\",\"{\\\"token\\\":\\\"\\\",\\\"listIds\\\":[2391758,2392043,2392040,2392044,2392045,2392047,2391713]}\"]"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "access-control-allow-credentials": "true",
          "access-control-allow-origin": "https://www.hltv.org",
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df8242dacd3e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html",
          "date": "Fri, 20 Mar 2026 22:26:56 GMT",
          "server": "cloudflare",
          "set-cookie": "[REDACTED]",
          "vary": "accept-encoding"
        },
        "x-request-headers": {
          "sec-ch-ua-platform": "\"Windows\"",
          "referer": "https://www.hltv.org/",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "accept": "*/*",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "content-type": "text/plain;charset=UTF-8",
          "sec-ch-ua-mobile": "?0",
          "cookie": "[REDACTED]",
          "origin": "https://www.hltv.org"
        }
      }
    },
    "/cdn-cgi/rum": {
      "post": {
        "summary": "POST /cdn-cgi/rum",
        "description": "Seen on pages: /, /matches, /results, /events, /ranking/teams, /stats/players, /stats/teams, /stats/matches, /news/archive, /forums, /streams, /player/7998/s1mple, /team/4608/natus-vincere, /events/8413/iem-katowice-2025, /stats/players/7998/s1mple, /stats/teams/4608/natus-vincere, /stats/teams/maps/4608/natus-vincere, /stats/teams/matches/4608/natus-vincere, /stats/teams/events/4608/natus-vincere\nSeen 20 time(s)\nExample URL: https://www.hltv.org/cdn-cgi/rum?",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "memory": {
                  "totalJSHeapSize": 84232717,
                  "usedJSHeapSize": 58351537,
                  "jsHeapSizeLimit": 4294967296
                },
                "resources": [],
                "referrer": "",
                "eventType": 1,
                "firstPaint": 1184,
                "firstContentfulPaint": 1184,
                "startTime": 1774045613082,
                "versions": {
                  "fl": "2024.11.0",
                  "js": "2026.2.0",
                  "timings": 2
                },
                "pageloadId": "21227f12-eb72-49a8-b0e2-d39d3e4228e7",
                "location": "https://www.hltv.org/",
                "timingsV2": {
                  "nextHopProtocol": "h2",
                  "domainLookupStart": 4.800000011920929,
                  "domainLookupEnd": 5.4000000059604645,
                  "connectStart": 5.4000000059604645,
                  "connectEnd": 69.90000000596046,
                  "requestStart": 69.90000000596046,
                  "responseStart": 183.09999999403954,
                  "responseEnd": 193,
                  "domInteractive": 1197.0999999940395,
                  "domComplete": 2575.9000000059605,
                  "loadEventStart": 2575.9000000059605,
                  "loadEventEnd": 2576.9000000059605,
                  "finalResponseHeadersStart": 183.09999999403954,
                  "firstInterimResponseStart": 0,
                  "transferSize": 41863,
                  "decodedBodySize": 398443
                },
                "dt": "",
                "siteToken": "63fcceb587c9416a9d1ac1679e4f1bc7",
                "st": 2
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Response",
            "content": {
              "*/*": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "access-control-allow-credentials": "true",
          "access-control-allow-methods": "POST,OPTIONS",
          "access-control-allow-origin": "https://www.hltv.org",
          "access-control-max-age": "86400",
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-ray": "9df8242d0c84e4d0-RIX",
          "content-type": "text/plain",
          "date": "Fri, 20 Mar 2026 22:26:56 GMT",
          "server": "cloudflare",
          "vary": "Origin, accept-encoding"
        },
        "x-request-headers": {
          "sec-ch-ua-platform": "\"Windows\"",
          "referer": "https://www.hltv.org/",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "content-type": "application/json",
          "sec-ch-ua-mobile": "?0",
          "accept": "*/*",
          "cookie": "[REDACTED]",
          "origin": "https://www.hltv.org"
        }
      }
    },
    "/ht/event": {
      "post": {
        "summary": "POST /ht/event",
        "description": "Seen on pages: /, /matches, /results, /events, /ranking/teams, /stats/players, /stats/teams, /stats/matches, /news/archive, /forums, /streams, /player/7998/s1mple, /team/4608/natus-vincere, /events/8413/iem-katowice-2025, /stats/players/7998/s1mple, /stats/teams/4608/natus-vincere, /stats/teams/maps/4608/natus-vincere, /stats/teams/matches/4608/natus-vincere, /stats/teams/events/4608/natus-vincere\nSeen 20 time(s)\nExample URL: https://www.hltv.org/ht/event",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "n": "pageview",
                "v": 33,
                "u": "https://www.hltv.org/",
                "d": "hltv.org",
                "r": null,
                "p": {}
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Response",
            "content": {
              "*/*": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "access-control-allow-credentials": "true",
          "access-control-allow-origin": "*",
          "access-control-expose-headers": "",
          "alt-svc": "h3=\":443\"; ma=86400",
          "cache-control": "max-age=0, private, must-revalidate",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df8242cfc78e4d0-RIX",
          "content-length": "2",
          "content-type": "text/plain; charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:26:56 GMT",
          "server": "cloudflare",
          "vary": "Accept-Encoding",
          "x-request-id": "GJ6tFq_eKiljKkKOOu4I"
        },
        "x-request-headers": {
          "sec-ch-ua-platform": "\"Windows\"",
          "referer": "https://www.hltv.org/",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "content-type": "text/plain",
          "sec-ch-ua-mobile": "?0",
          "accept": "*/*",
          "cookie": "[REDACTED]",
          "origin": "https://www.hltv.org"
        }
      }
    },
    "/cdn-cgi/challenge-platform/h/g/jsd/oneshot/ea2d291c0fdc/0.5974751186189985:1774042899:uN7lJKJ33GxekUENCiDsAquWifEV2oDWdDJ-Ww6GBVM/9df8241ab919e4dc": {
      "post": {
        "summary": "POST /cdn-cgi/challenge-platform/h/g/jsd/oneshot/ea2d291c0fdc/0.5974751186189985:1774042899:uN7lJKJ33GxekUENCiDsAquWifEV2oDWdDJ-Ww6GBVM/9df8241ab919e4dc",
        "description": "Seen on pages: /\nSeen 1 time(s)\nExample URL: https://www.hltv.org/cdn-cgi/challenge-platform/h/g/jsd/oneshot/ea2d291c0fdc/0.5974751186189985:1774042899:uN7lJKJ33GxekUENCiDsAquWifEV2oDWdDJ-Ww6GBVM/9df8241ab919e4dc",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "LMVfPIOYac7kkOmbcaakb5AOvbLabLfOmOUJVbWfom75b+v$$Dl6Xm7qVE-b7f$B6buY9f7UbJupOx6Ygy-l-b$j-C-baBn61hbrQam0fXcpW2IyMkqmMfXeEAi5mFKIba2rt7WaXWr2I4gxMbOdvaNBIp67RbfPIgIOwbJobvvXio1iHYqV$baNbNfaRbbdnboNbfledEapbsba5-bbEEK11WaKJyvbIVbaSELaSVrdIbrS3ivV09a4IwUKimPuJBIJy-67hb$PTW6OREqBCtB53wrNywrhLOvbbpz6kaqYyb7PyOYYbwNsnbbIOeUtJOJJEbyJIx33+3Rzk3+kNNsDN7tN3JmYaNtaN7OzfboRxcSeg$-YCjbOaichZROVPpBGOJ$WDpnlRnhgW-nHOKnWpbMf16yf1DeakoM67f1hoUPXNaRBeDFkYeuJ2Prqcpn7NT7MeyoYxJ6bHhVD7-nrRjVJI47I5rY0hZKvv+mZnMyEvRNmfsaUMjUzQf95pYJ0YN6f+TgBaGS5fj01rMiQWiJb70r7KrJHvn2l4rVI0OvhhTU07LOPg4jhLzP2vUU0J2VNbzUhqLnHz0yLpHLqtnKQGjNLdVXNivV7hyDg-dRHAN0-pmgvVObidpB5FHOSR7KiJdkn3cnWUs2KWSACNPW4CnsOIEEufa3v1QZDnpXup4aUnIrNb7lZ-Ic3Pa1P6H7obmif0iRl+jzqH+Yi5TS59R9HJviDdmowExciUONYWCaA0y3yT9FR5RTV3lRv+kxpgifrTxzNsOfLmjIELM7-FN1+ofUH4W5bMdWwlk-SbnmAxJVOBxIgfbIzL6oXGh3BfC$VhH+apBf61Vm7JVQLHGb3ZnMV69brJqYofap-O2Vm5zJPdEaAY-PaJgwBWCT6KvigV4fIa-pxwD$ZIOgfZzvmimb+P6VWWKfWvOo0Vbac6-7G7yWvj9VVXCKfreBqV$0C6itvU1knBvrVP6YY6tzMUyQorrmJpIP6pfbrC3rVfXYoqa11gfDq9PkPbaoqu1+a-30fcNmfyvN97iUyWOIrNFaGbyV7tk6JGocQMo7k0Hb$nHAIt95cKwX5W0UapMpPrNf$JWdhzaLkWvBno30IaVVfSstnmBhsVasbotHSB0VIoUJmI7Y6pGJL6TOt17QySE6z6b3dCigXciWf$Omf2J2$LmjMDj6qNvLfw4DJ7JLrziP6MrobbI+6mf3Z$ZBI$Q5Rhh3r4buyWfCy-wO-$BcJbyPTaIBWyakdWMOLm7LKf01rmQQpH6xbIGc2EilYyFHvV3kBvXisHV3VBf5rV0aeV7sHcPBfN0$aehQPo4I6IV7LMLjhAOoqLxoPpXyvrXC9YoJGTf5X5HZlcH7D1XVOWGTtqiQX5YLXMr4TALnWvbQaKq$JHU3OcXveZJo6n4dk5lKBt1b1jSLfXTx6U3qtLZKJKYtuX$nOeBXr9cgMcLLpwaQVmyfH6Qw9GLsEUx-VP0qXKY5x4$25RqOm7$aVJ62Lmua569b6YY2v5eP6hQpDgtnc7uhqU79NGY76D3rfsSQpEhFJ62Y5OIoJVbfa2sxdf5bBGEMh4RabivLcTEzsH7o7urVrpnmNrj6AycBrKe3bbr0Nrph66QmaJagfC6MhgAlHOhfnyEVaymA4nSA2mr9EN40DNDQcLpqf2Yeb+pjfQapu7irTeqN3XfeOPfHuSfVGcv7lfre$iG1RFavfhgVLkbr6L7SsG59+6rUiOXYrflVeMxsnMMgbJGOh0bvMFrVmVzSmcZA1afKQJoj05Sf0MbgqM-JzoSWif2eMBJXIfWNrNqRBpL+C7aYQaVcJufEQ5xiwNIt0S+5aTVfdW4rfyh1PpTf62MPxaoLFcb9ewCf0m$QVkO1EaP4RyJIh66Parb1meXJbfH7HqfFQJAky61+XlUKYrBpPWKrfWGcMbWE7obckcdM0i+xOgVLkR$7HXWjh6qYXrCH+MjLObBnAAsdH4Lr1-$-SuD+0JO$kpqeuyzzbliBXBaceMrqPhaBBAW7x$GhBkfRduPxzgCcpqyBRn1v0raLAfMfionJO0oAUJxsfqHq$FrrvQpXaylV7$lGshOCrxFDTHMpjra5$qNYNjLhWCODfDyfOn$dyWvaVaW06lpkoJg+OANVqILXpyz$SpfKhZgQEcLBKs7vDP3obi03yvq+VuNcQoLPESlXkaCQobWFCIOKhCN4csaqviFskA4VNqIxrNg5ypBWuTxUV$QP4t0lO3OmbBa05+OhEKKoq7ppAMdO7kJBqdZCCbkupa-1fiTNVq7o6iLLrAjf+7tAvILW4YxJoc$PYrAA0SjnY0doS5Fp44kKiND42TTMvbac9sqxAZHro+EOABYxAQCXoh5NRHQir4dE637C9OhaCVqvu6RVTXStdXN5SstJnQ-9bdlkb9iH597ClDbrgQp54d-dQefSSK$CamaLAm6SzCZKtK1kr24KGahg2q-trnTfUKjqwpp4brqDNRar-rzjGq9kfW-htDTZK54qUECp2QJgqba7wCAw0ZJePJLpZ4qTSaoBmbGJAij576$iNO7lPiNytzk2yUxQ7AO-K71N7$nAUgx7JgWlhZ+lUTKlXygxg75UC7JOOzsx6SOmFi+n0fczCMgrkgSd2a0HzKuJj$pkqvIGCToUHT24Y6UCDQud4xHzHab65NkD4aWCj5s9i-d6OCIGHkcVHZ4veeGK9jDmGVGvbA3bbyjtC1$yD4oqffrbNwVaaQYyC7qvmNhmfnNzE+oyblPQ-QmeRPndQ5OqeOfXfuEvLNAMFw60eyWhXChLuL-FpgxZT7P0kFiqImfnA7G7hZ5MaAx39WFFKyyfM1ghHDt1L4fMG5MH5kO00fQ5HkunkKy17nAn9z4mo7sliGLl5mT1yqfP6XQOgtYOkbf4ExqaQ+JGnKXceKBSLwlj0LwGKEZsnW2z5rNRTQwrGj4WPglBEp4UFcpxkkaOpoJ7NUTlsdG2702gSmDZNOtSi5Dn4kjkhwGg+1AeFpDAKBNFcGelhNZq2NzY5rCPD$H-h2Z+F9O+J1-YSavqEjTqZwXsKU5ENmA-0ezwU1s6Z21q+HEUiQTvkXmGNZC$sn90RcGL$T5TYDtKwUrOUlgKCSWoKKMTk+OGhRTkrrrAdylNPoOBZCK$5ZY57DnX5pBp4i9Bt4hjZLIbbyTD$Q+5F6FpMlwghwuVgVDNPw--DSxKozKQm$v7$Q$nTLouaPrLUhCDpGd3ctXOMXiCbqGNOtkXrXRabemR4wuT9f$kBYloApiHHiL+r1shPZ2nbOCLwTP9VfEt++YwrdRtpyOCyGdmT-hXnwVGJaFgpEtd3r$ida9lveu94$Ji0G-Q+3O3FGIFVTBptZs1zlmdBiye0fassXnL3y5Dx$1sjNGyRfIfiTwKMfD7KZ4oZpx9W1GKAcMLKhLKETfe$gZmFcbMxOZAbSaO6bRK-yR7hAYcP7ZAXAageAp6BKZnZ2CArUb36D36FXJyRqsEsJAOAgbRA14PY7vgu7bI4VVEfNbp4YE$MhZOMO4VVqZOYr-EaoTXfC4eCK0m-oBobdT7f-fi6WYrfiTr64fCahGXJbVAfcbb6kfwRrf7TP6dK2LAXqb969LrAJfR6Z6QFs+BbuRAF7bIXJzP6FFyFUbdpH67FUfPpUpFsApkjUn16xyJsyp3sefOyhsVteMafWsn6$s$jm0rfRD7IPs$jUp9sbtVVNtECEHctJV3a1tTpxbltDbKpfN0tUbN7DTP63NjtoN9t22ApN7JumbCbN7$zcNfVLx16+AXuX1rfd7gCXV5PcL16Fflbj7Oh$fSAJ27bNxLMhbIpcxEp7bwxTj$mSOB0h0UbwxoXP6uKUbp2KxbxgmI2V2KVs66MzmI2eN+6fuymlbfuyX7bfusXApfuDjyMz2VuUMxMlXAMIu7NCbfuruAYOF16Wu6V+6-F1bH9qwmDJofV2uJH7bzu6qDVlbfPqmZbQPApSPooCbzoINR6wP1arUgk6VAmePLmBfXg6iGPVm9oGPqowi+X7bi6o+rfiLrPXVuC1fr+Vfl+biCbH+A9m07bF+aF7b++$EK+eo+6fTemmZhb-TqTX1bJ0R$JIzcTUzAiHJxfWzslhMR6+TmKTz1zXVNoWpR6FvJj6s7bRjrXLjOjaMfREQzfsj7bvXqMIo+ZLMtQ+ZTmQo+ZEpGoZZTtnNGQWX2M+QWXOMlbFXUN0iHmT-bQdifgqFrJRQvzXNkK7b9J0JCzP6Gc0RETTNIZhbpkI+K6R6Zzsl7zJJMQfKBc0-Ek9TDcCk-k+cwF7bIpCKncN+npt4hoGVxoSX6-qUXePZnWb$26tBUfS4AYpdAmsjYvnYQvEYicWC2hh9B+oJwa1-Elc6yd6agVskQk99BVT9XfsiZ96DAtniw2Ap6oy1X+n$XebCcb1yYmJoO6AZEY-0LPOhTmUsYl6pJohpEC6adfni+kYmTCm6gvEanVdMAss1gQTphjo61bbbEipkb0p9CoVXp7bbv7Z5VOb9gouRinyXoKgOTHrKBfA6kO$2tOUXgakWc614bxG1tKH6kXmnU1KI6$+eIXNPtf7vxIrpAyGxnxSx-1NO7RTWYfwomCTvApoogUkyiCm7dcJPzUQgikoVMUogNcQ9Qd47Mr$0$vKVklfWc+dhkxbzGilWyoUyrrorkb1rCf32paZ05iNocxoR7$yqe$Y0LoRiVVWxy45r74bfd13iGpI9lHkl90EylzZqVo4vk7VuQx1+RXaJcRcVagOizp51U0$q$e5aR2oadOxvA7mureh5j65KuPrV00RrEbX0PudfqfSHbbIO94j$u4ccVrq0qW30cRdykxEgAat6t2aaEpPoOvuWep1Xx6Xf1bboYEmEmIWdfX-7i-yN$Z4HbaWiCzioaWNaW07sdN$L+2QfCL26C1NubTCEm7VN+Tf0offMC7+fkpk$+z+DCHOdC-HuRqdVdZC6TVdfToWYfc+YyXBDOYWY+jWVu+V5c6eAO+PLdXfeb+bubnk0yS4jCg$X+pCnkoBTC7$IT5-1TpBS+UfgWIesNwCwa7OQoMdPfmdT+IH$uWO26KimdGsb$g0N$ImTVImIy-$aOBVNfge2nPWBWXQuLoWdTb$FfbL-TTf$T0TRAHOhApOLAHOWmi7rW3AUaomPB+-ET3O7TxAU$rWVnRfgfuO-32CXf0hi7gJv6+VybrCGAn0NVGxZApbgABMsALNUMNWhbm3ofXepVYt7fEFQ4sd9uHO26Uce+ZHHOLmubCnJBZQU-9dHh6h3OWBrfAbrQloHR6b1fNm+$pmfJafqf5LP+ccuO5oo1zVU$qSea2+WbEjsd0fwQOSubxBv32Nnj1SnmMNqW$S6bFM-jXTsf-jhfNV0OnhH0sdVnEfcHejcdT$LBsS4jT$FjKWNOQbtjza6OLBujPS2jEWYVjSuOLBXjxjYjgO2SpOQbobzS3OC+7OLB9jDS6OgScpYAkdwplJGS3OQjebpOKjtSuOmreffXNr6bCjRO7RemEOGSbrni2ooWsfF1e7zBRb5boMzBHi5barLfbfqWT$-Avd6kgVfed-6J3O1r5bxB2WOBiM0SEX73Hb0j5+OdJcofmVwXhnAds4HWWro4hsHXLewpuO5mbmjFpB$foTubnOrX-kzbnO7WRbKh3OBAY3h+kMKMed4f3bnFXTzATXuA3WXW$-+bXPJRUMnkn+xo2QkdhXhbhomMIWSbgVNSYoDxzBZrm-+BFWeBu--fuOff1f4mPAvioviv2bvj4IuoU-ov4mwS0-CdsdffIfgf2yN-Wbk1Iv1zKbpb+khTKCpOVnyMo33OIvgfAvSvtArzfS3WZpwCozCzAzlOSz2QOvgWXRMiofNMmM-hxADXrWQyr0aPdvrNzBoFBvIjHiyz4p5Bahu-uu0AevLz-vzBay7zdVgYUX7FfSZXFfvybkUrKBO6gfutimSNjSNSmSZXzzV6Hkh0EAY3VzzzxRskh02ndpjQYm-ofqgf3MG2XzhOzzWBp$9z1zQ-+OAjOm+Vs$wAxNeWJqQ-4O7vzz1vVrsdJqomQLISu-xQhKOxIOhOZBLjJKlB+OTVmKASRQp+JKgz90JKATrqHPJqAKSNTvoKzvLjIKoqgWAMDi$NddJKanhKtJxbnqdvbLaKtNgupBEdUNENvmimoWsq-QNIk-ljKW5r6OENRyWbComyebb$On7LWLIH2iZcHq+qvm6qnYsVFMAr3O7u9q21U-b53+XsgKHWCb1WT-9+lmhz$JbGjO7LAAuOEdVGzfeOcMybBWJ5hveNyNuqsKRnXWMh6rYyBKS-Nijr2o1alWZpkNmNjXQvrNUMjruOVn0j2+TBuNia+NwHBfR2m$2nPiT$l5PdLNFMd0R1HGEGT3A0rvzABGPN-Gjt-SEGPdKb3f1zlGdpTOWO$A3bf5OYgqf5h0LvkdyzsvihPKVd0T2GdduG2T75L35b25UWaO6jTBG5GGcTl45f+a253CWjk0TBxQvvqk2GxQ6qb0gG75NUK515HOmg-jMUNKog6gSdNU-oMqapMz$bmNMKYqBdpgIeVgSNIg3qMgnql5CULaBX+OX5cUSgOXsNMKQoqgrgAg5gi-qgAK7Gt+bP7bvdTBt+AS4WoFybGKWSAg-jt+tzTGqgt+smMzrK5-iTWtiK$OeBjVVWsdFfZ$C0iSuOtUE1mMgK9dj0Tc6jd-xglCxA+gTgydUKtNyNoMoB4bNfqO3OTVPUFT5xGPybhX1Spt1NBU--Tgv3NGqbKOFKTgF$$OfgpmjzVVBW$KIOigi9DJCCvK0TaKCLRWJmof2okYs$xgOBI1yNdGm$EdQF5-uUltiTyW0P1jZO-GUKOefdIOmlq9na3JktN0qTajYmRMLgW9FdY9ldOn7uL7FW$lf-1dHaIl-9L1FMmdB9Onj5xNc9$9Llz56O49YCFmy92$3rs9x4FoOsOiBlu9SdQzaO+lL9xQXlMqAKM0y9xUs9FfybHa2l09O6RShSX9FfdVZTG91j$9Dgx9RNg9ZlMvxOF9mDGJfDYffDq9AifD$lXloBImkEwKpDOn0WJy3OOncNGMG9DlmDcqpvHbGBwHIB0WBdhDbW0OrhXld0yOfcD9ND3DlWEfoDED299mefq55E3vpDt9$9ojRj+boEdExg3DYUuIMNX9mzN-KJyDtCeDZpIoeEjlXl0h+OZp1D4bkttDqDHD4l4pxb2boE+DxOl449urVfX9xDlOP$3UKD1D2EPD$lzqx$YWIpKEX9YqgbWgEqYEDDOnLArdfwaf3WV$rKTf$jVZGnY+TWmw994a0h9bLaJwmpSDFdZHkZ9b+l3wOD+UYZmZkWMWmwi-IbGEV-7OyOAZ+bVWFqqZ1hNEKR$ENwafzElZODGnO65B+yqbCnC4mwMSo9$Z5B$OO6BZpVC6yZ$OhW$weOlHmZbn5I39B$LZd-qbhZ9btwnOv4i3XfoMtZmWC-IZ-1Wi3wp$$2+-eD-WmwnXce-FKZ-rHX25LPjwV-IOzwktgglg4IpgYTfZ3mSdXpEjNVZbQbtYaVbE-9t9wHd2E0guCSn3YAL1gKWfc56x6OwDGAvxdbEjJQ$5hbSAbxHVyseIScg1fsxpVoQ-LNeg2hx2HgjDVrEAprf6pVWn$QBELzDXd6P0M2sO60blGxTuMot3nOOfEGdpLvRT6cClzr62Lo5W3dzR$B6ldLQNy-4bfMRs6YVhMoIdH1ZbWfTF5VocaiMSbIzimLirv77Oofu6WTeoTfiPAq$J$kpcuWm0nSfLepTffQNqFTVufkPLM$wVxc7Vzfp4NcIaXhQomW+gUIii3yzoFhxj1tiQzYMBHMWwrnVDc51yjcvRazsVYY5fWB6kVJ6hiaoV1adaaWqumNAJhDHnaz306GHzfbCyAJ$CXont9$HIR74ra26iGF6r4TVsRf2xP7WSQrXqHk3VfAV1vWbaxa2o4IyR7bPnM-MBWHcTforQLAxQzr-6hjorHv7j0OSvpCjamIdmT7XfqpMBNPb37OazrPxmfrMH-1jbBfVpSMsUylyP-jWxpCSi3UYm9ajW1pdHf3hO+r04W26ZM2co$N+6A3VV+Q$3$iSxa-SYVwxvN72T$kpC7s$HfDv2WYdKMApyL0acOOApnbApCmAcVpB1Y+bwwqoJMQOOTF26j6hpy$5sSJxy6LVNMqihWrgOGh9b7BrGXOIYk+omfOr7X1VoRsUqa$6rOSQ-mT$RqEbs+Cmir626cAkErJESiPm1I93oNdEyVvbTnFIiXYav$Bnm7SxNVsfowX$O0o+0NVe0sjOh$pPsWdfEjbX$gbUx261YSzVToSVC6iMRv7hLQ1Kn++qOgn$QyszGXa27MgnPNiSOT2NOBsDnrpbcnr$vO$LEfkmvJDrPHmznVWHbg0UDoJ7VspHSmvm$vPxXUIaHmf6H0e7JSWxGnAmMS7cXPrEONiwm5kJFXr1s6CmZNikY5Lexob-o2mizVpIcatcnbTbycn5c7oubOHWf6f1yenrxIwHotJSzU$+oi-kH0+EYm3cq-PxUH$U7mr+o$7MfBnQKApL4H+dfpx5sKr20DyluvHFkxyAMys2cOnbZb0phiiqOgXet+JWLOlOcgdA7V4qwMH3Y$JZrkO9HfoM5VHJkB+b4qmoWB$OUNbILTfyMj9ioLvBvOwWMfjei6pqpZ6Q$RYAgk+ngrXOYffo6WghHso$QXV7mzS$aoCbmcQ$0o+lINK+ys4Dq$-7lcHV3fvNWouDgpDnV+oS6mO3dA$OHgTf0kNV7peYB$53VEkn$UiaFfGbNz32uoViQPFGQcmN$Fq6Koboo5upSnkEnm$O7d$aAJOCElQ$ULKbtmjeLMZTmO0BhO+tkemdIcrLQyQVPe2YCiiBr-POWiIXaKxnt0W5nXJbuqcJgRDcRpSRxbmhWJhmJcAOmYzqPf6dN-L62w1K50iNHa0hWBp2fd1J4AO0gI+n1FvAJ-hDcRRznISHRYXhsMHI0p2O$yf7RaEVhvL7F$SJkCqVyYbWoECDi4CBegQibn0AKxe0xuqzWy2eNfQGcEVh3TVY9rYtAAEOrPa4$0OczAAmF4hidYRHyJ9byMRJ6hOhaAIPOPo5rdDOHEbPJ+zfoBChO5VAYPiqbrJjnHeUdQibUsclvq6LpBfnvdG4W2VJpbuO$c1cxFTynjfO6bUX52FmQVgqYLEPUGour12zSGS1r2daPoAH7arWr2WLru2NV3oBo5rExh2pHJsdaSsnP7Pi2t3S$rk1CFeKG63O0qUOee0H2$0wVACU77qLyK62COp5lpKmUJXp0sYLd4tLSh35RmcIg$W7LSoruGPv$sfTQcNYZ2EIRQ5AL6ZqxPhd7W3T3BS$qKAQ1-hR$NuQ$qYUuyCqF$BeV7O0-XOhrRH$zKUpamyfdPHpmBkRa$4ucOY1DNFio4yMyrf-tqrVhy5sHXsi363bjfV00kisvX$ab6kx4dlHhAO2LaoYxMP3umOsfAcQY+s+XL7d$R1vpp3KxXcUjdtc-RYH+vzLWTXdeSMRblDGrT2s4Y-SYxBlM4PvucalfoqledJTiDebfuYQaVkXGReumqkuTAnmU-Mfbm-igblet4m77uqdp3i+cgVr+mQ9dJ3+XcgcqoyulmSWDbmjU2vIxrcOYuy09VFr+uZBS3wFkBaj0$LDNvJLGfKhI7QOkQy35d7mfum0suocYQHi6hjvvc1EsbTfODUx+DVP-CY+lJzrl7ZuYf9Z1p6gU2vh3a-OmyfP6ofer$VyZMqSz9PbJ0cPwKYfGCwu6eIbUofaQO2XcB+ddU-la-Un3rKdsRQBtbblDGQNqQQa-L2reP6CDR03Iy42$ZP6F-OsuAAO7bl26NMK2nlyQQ7N1VX9zlc4-$2Dvl2GjiHu-AIpUvaxRjiyOdEUaRnYzVPi2LzRVRrUB3fvaCh9iwk-90Gcw6hNjwua3BCYJ-CCPloD3iHnf4JeqP0y$2mnJCU6JDb9HWRblKjyCmlnGyGmDn1mCdaXViycYQN6KPfiWPaWV1xvoqOaeOOXyUEgGIoWQfKYSl7MQUVBf1Jl6i07Qw$BtyovNpbVsJxI7yrReFpk0$JYDU4L9i+3PhIJQUrJ9JbEFWwmws6OMkcfsHr0Yw$OcgpkbzIIULIv2+Q9UPIh7AUcV5+iom24Pw0PRgqE7X-+S6gqWFeVY+JL+Vs7A17YBUtICS56vSPTPnxQuSmgc6bps2Pxvup7O4zfjc$-OSpXdKPonfJQ-Uu7i6mIEcYow-Ep7cbjVMA2Jrh$N6h7-FN$Eb6oaPaRfrpnrxrL3TuhGMBbgqAI3Cy97cbpCXfxKYLfIFEage7bZY0y6iX61GblSYftfaaQlOc7CIbhHmoNOgXYYOMxrmraYpOKYVDwSeE5kWppTQCk$EGB01fUe+ffIfj6hOapaBenbIfns6Bydh-ea+MEMf+0K6L1rEs9U3hfeK6g-eybSOYCNNXrR6nY+RwQC+u+Bb4efMee$3zOaCkbyA+Bebhfemb$eJeJEiJ1XgyRCTNuOT--IU41idbb0F+Vx66F9S4sKZ$xVczL4K+oOnmh5rFinMgLVEWMOu0+pe0+6orny4IJ2Dh5U6JabcN2H+GBdLI45iP6KMWi6FvXPtJGI7wHRtABw6xJ$NCePi2xCS9iTOkgqjeDlKqdah4CnQwabFOFy5fM4cJpkC5gZ7O0wCAm0RO3lY2smTMrNEsEIIVOVjsQw4nM5eV9OxfLnJ49AYi6qojM3R14+CiarboRKv$KygMC0zwPG6b1V4Vop-c55kbsHs4H9czfiyGqtu1mxJ5h1wRFIHWb5Tot074qIApeRvq0cECkWv7qu15Q2K-CzJ5fbTpm6ruJvOlDJXOx1e$Y7TrXgog2NvlGh7nrN64iaxN1bj9FoGQSONWNop3TFOkWSNTKekm1Xf3fUJMAjUjSw7Tr7kjksvbAfNx2x0xKJTaLAr5cybibWPfYLKr5YhnkM5FVUL2Cs4bhgmQaAzJT0A72nl6jncALQvt6xl6oGUYbl3vxxsldmbiTNvrvM3NN7JGhTGwAzmkbkP9pZ6mN5vNhX2Hw26Aivo6D2soR0MMy$bqv5cV-lxf+3Qr7vQt$FbmG4Ft1Qrt167ruBIAg4kmPH9B+aQ+b4EqriBLopUilAmvAkD2zFuI4CHUqqQgkC0dcOo2YeQrfS2F69qnA2bCksKf$NUi26rJLSN+AXUmb7p3FD2apOyl57z1rU5EKji4dAGoOHw2a$+KAHVib6oFZQ4o6nFaGTbWF$J$+eACrI2ThCaqtwAHirnLAW012nanH7bQxTAL6RSBJ4kxJLnVEU50-U6om+ob7F2QbKo4lzryA1fLKhizdcnW7nmWVAdJrwXmN--qW1Xh61mrxqkTi1aA9wfoobfMVj4QoOteW4uNOO4bqiBy7UFud1pgqGq+RIbrCCTe4bGci3e17u1ZLlc3U9LbCLx2MbwnSgr29M9ob9hSB1UZ3c-GT+mxCbOaXkmW$gyB2Boqczq72Cs10HHlsceCmuddQn1fmnf74zO$g0B6F$6lpws2Ckm3S+rNsbpc+nCvzNa0UihKqky$ifbRsrnOVXOP1-y+0s4bLPlGeCAjnPF1h-+v+kuVBhm5JP6KETF-6RsPF6ckBX5JlGFQvNIfXOVudczTBSEG6FK2Nn9REOWUUkgGnQU0Xjsqcq2B61SN417nfMv6CylGnobIH$bQEuycYGxQpccSFtLOdJOczsmUVDK69UGaUoURsmif1XLmXtS+LqsexTxvRPeQQSz0YlvzK2+maV2YSp9L0FduOxFCYmrQh5PG+vAfH4QvbfObSR66xSAo+hHLs$ebx1234cwurUOFnxNHOtVU4fLGCFIyaUV1Y2JINe7eidKf+IaLAbig5RbuMn5+5CS+7KJbjq3hGrEmUyXs3cBvaOZeMFUC4HRt2ri0Kf0D55SXfOKK11-bBjfHztWmf9VMI6ix$pqrYe0g9de1+bFrmYUU7jo-1l00AmYebpFg1+3di79kA1gL+mHWHCC2QbfQthc$orYllQcUPE9$GJXfI2QDKAXOtfLCzNxECf3pm21KbgVPUzUOpmXWYX5MKitsX6mSNY6ivMNwxlpD7IIXyAZmYLvXybcdpDmIWHWrtnpLcXV6YtcULk9gKabMqxdcU$39jNlCpM03kb7obPbRBbw$Wz5Xc7iUk3T7iVUpQ4RkOirofmYcAeSN3LTJ07xFE0zjaEftJpM4c++DnK2S1XY7Vn36pfVIcArNxL1ypjMDeNn$Q7gkgPFmbbKITJMMENA$FXOm2Vko5n97q3uJOhJ$Jn1z5gNDTr-HxQdcPOWNswmU0Am4Rv2vXrFz5bgVqWuhycbPmrb1tUYn6booKuhLvBFpsvF3WJPttfsFkRC+Kle+t3pstcIVyW56SfRHtBfLmQbxYLA17EgC7Zmv2JXySNdikGmgkm5PA12x9pHZB-$Ugihofn6qM3xhQigXQ66W+FBF$ULvXkQhk2M4DgN7gr2xPiwMQmiJc3r9rIWihJmxFB9rnd-bU4+cURAe2M25EOhc3AWg6VjAspcM-as6n5kmNkix$ms6iHsSyOEbo1JqO$cwTuIOEIb377ScCyNxZqF6XbD$6LdUqx31S$OgDIE7TF43riMbBmOXrtU4CsvisFcC7sn2zLc+krWJ$avqxGDTQBfWTGqOgB55XgXgodLSYZVnGJLDsrkmnF7cYHGAyXLIUEkTq0aAWUkmMTZsP6wlcrgiDEpH6VvnVG6kSAOogTjblItlytOdJfbG2U564WfQ3pKFqcFpyN$q9tgOd7qYty9qGFAT0bleeMjZoNoPm$czA1fBqkoXhbpFI7nwgQJPkFQO$kd+UiprbxTWyfGmUaslbMUt2Jj1uWw3k5p0CAzNqr6q5kRqmxC+OruLBMLPRP3x2VjqP$QZ65zXjDHalGAJYSqzJhWuw423AUbBrvbCTimWc9wxT$ZIoOy7kUkYtUmnfdMHbpfMF+UmAx2Hdfq-CYRmyGc+R7uE6ouDUHJh2z4u0-xILEEtXhQXuM-d3ZlT$O-Oy2$Rxsm0JMNGFUWGAvd76xuKmTmm3cEjYxXwKNLYB5IEylfQ3buL3b6-Wb-K1DP06xnBc6QT9gEqhbHbqZs4gF7qJLerA7Jy$Nn16mh4c2auPQuBXAvOrB0LyFGDTJLCcKNC4y5MPnmMkteTA+ylMoYRQC54D2Zyi5Nx$bO7PesAhx-ySDGhUu$Ba0poyYTDGstKbikuYZj$UgVu$WRcYrDbB$$Nqxt4tbRpFac9rr5SuckO$e4WH$FsN-$tPvqfkO91j2o6YmZ+PE0c$gPb12J5e4pnhvuvEz2hfyBjrlL7FH5GaqbbF+ByGUpJyf$hmfniz4aQeCLrR0TXvHXHE6oNUBTBLhORNzhU0VIJgXIdZtK2JBkeDhW07$4jHQ31esEbtzp112UC5by3keKuwl6AqkRTzGs3Iebd5Wf7oP4R1rMKOuLTBySkE6ePENfPP1BYI2Khfp4-foG$yX2qO2i4xFYsqqk7qB+Pb1AGv$qlFzsWgHYAtqThlWaBnxrJvO$Ad-FIOn97UOhKnp$AcRvMaVo3BHdITn02Ezbq$QXQ0aYOY$6ofboFk-7jklb1b-KgX31O$q+mEHNcQrxWWBqUkrvd1b557963biVer-JoVCSrUVYLV6XwmHFJfpVrR6pPOWuRoG$+X+6v-dBnFP3zN95sFCxmvxQ+hPa66vGxBrqc5C6Why1a6OYIRBvTXhMfoiuOFk5vTpJ1rgum1IaG6qhdfrhiGn9IGETb6Pkb07cgQCnTf1PvuuY0lCGPMtbyvZPANlhG0BOFNqSuAsWiciUK0xW0TYzPJcpo-VFcRhfSnycCfi1uUbYCuLxCQcAeuElZOX0Zvkuux1oUf0C1obR$EPXgcXBhIB6Qumsip$Xm4$dzYnVbPcHHT2cvNwMdSa5ZrAuF5p7VnAFcGYAP9Hv1j+JMO0vDPF+1gqes-rJqCoKsqniqBwqr7vQ2fpqjmU6UHGAs+Y6Laa-d6qvB9SYFQQABtl5vEqa56ku9SfU3yNz9+WHScpTljKDhbWXJu3B3NcWAlfmAtlqBWoptPGFRxePuszmXgDxUQqQunjOMXYDuk-5xTa6Pc4DDrxVuTjWsjCDrDCLdGRfS0mq-5+2UX0fnKtvyfzmx93NNjOtjcR1QSGZ5c4JneqcUgbkx$xswhJiH2Na1EmKfAfYyf4qW9wPQXzA$SLf-wFGqioE7FfOfZNdoUNPphLJptgDg2zV6XTb36$C5G+hSxYybroFFzjFHDLAf3uTr76oa14rdvudLOkosbXHLT+PbQzEI1W+GJ92290IkploHs-eN4Y9Ql-cpLGMq74oY2Y3aIhgfMPoS7N-hfyuI0zn3KNTLS0V$-OozrjA5BIowPmB7JJtOSQBCu3S5merhUMM-xn+pmKxnK0cJ5zd1xjjoWIn-oHAjHmTJ2KVYOA1l+OlnQ1g+dnJgy5Aq3ZsoJq7rOM3bTn5MiSPSPQYCNZu2NFmaFoiaAsNT2NCHLiuLTxyJHnQhRLiHIf0boNp4sDAf-Aspp2U41n4KCLADsgyWacGduyrKzht2koP1gBBEvyJxlogiWFhcPUXOxslzf9YtrRJ7DegOVhnY+SG5eyYBkCpOr5tBbWsJ6Tnu5vXgyxgfGG+$uMn$Jo71HBYUzek--F7zfMQDJxujkc3-lsfHkepax-Qfi$TzU6lba+iK4bbosKgzdsA-GgbVTZgxUbAYuFtYV7rtmTGiJliI-nsp5cl1PGS-C6E0DsdpH7GEXtE1qmBoKWPCa31jHDX5Il1P-yCqDyxrYSKQtcqyBX0gMLvKNkmPbfPaSYlrKei1oc5EyHZvaKh$E0SR-o7s6EfD-iGemrghEOJXk+po6C-ecwS0K3+3FhCjj2VYbXJpI$zY4ykHvKmO+p$OrmlAbnOy1B-uOpGLEqlrJF3gGISRizlkBUp6B+e0mabsYeaV5Je-QoHsNl6bg+xy5y1HDIafGyPGypPxLCJOEM9+R05qvdE3NKeMT0odr3fcenvMl6sdEgfo1wMXV-bqRfmfYnCbcsUcYHa6xz2VivMSfT0PiNXfhcOoXU20PqMEv1eqbMR+0yI$-nrUBf$x3hv53yg9qvMYcoaoG7pXZfjzGbDHqNXK6LbwCZINeGDouELcYoKx$lateg69X2xBENC-GbGYr69r3$f1MQrHg79YfijSsjUjXfHlmM2+ysHiAcnxlQCR2IphGT9rYNMAdSbfpVzz7oNqGPi1yOG0XIwMKkXjjtyw3jnkmrfuHc7RMMcforGo5-7IPOwTupDVgrInrhPeB2n7vbcpaAVjqcAspvJqXRSbnZAOFFnMDegXBefnWpAlJfAbnynZbtNEg-uTurxpZUVLONVL7xyfZOJIOOEPRFhlaprMZ2HEgSWDxZfootLy4bjCs3+uVl2GgqR-peQlNjcWfdL4rvQhiBXPMADNVJe9uLd3AaSDMVMjdNNe2OnTSAEWllshKikZ+P+ghzJ9VYr575DIJINBJhtNE0PV+gsAj9x-MYwmCBPZz3MyBZzhZlh-9Gyu5-SzJWEV9dJBllqFe2HEKgJmZb736aZodc$H7Yu4Bj-GRImQ-Q$HB0MMIAu2gezlyIE$hwbxs5wjBq+iiq-rE2gUNncleOQB6Hv9l1cxy4r+C-VyfifyfpIxCfHpxhuCEacLSGqCgYPqLJoOLZPMR3TTUNgCdsNhntJsio4hhCa7qwPYnbo4YON7oa4TE-y9GKTMNoUZpnF9$GIA+QQc7zE09HGF+tsMRaOTN9yGGVceHoKpnFYkRlduCr4HuH2GKGp-cOF-paMB-cwpXuCXa1rkC926YAzvfZRuJsJaObJFuJijQX+fE0Uivx3rZAufydeEa7xMHZ+5s6ng4yQtyp5rFkDgce4Wx-V4zbQDXGxRM2-dwhbvDgQPrjIJUCFxWBO1Ob+WtzGpdeiNVDsS+$Ol6wufN9fXul3OIMFTiUUet2FIxYrJTG2pcKcVJrjkyeD2soTjUeohrdok9R6aVTZpaCdhbbUZzmmOGbrH665lc2fdhOdNp5N6gz3Ec7qdGTsMt4zJgwyqW+MlniOTdPyxW2j$2glLmFT3IIDD0aPRx4MOd+O2WKfQnGChMe4WZA-fZohhyro0jgVpcs$Ac$aVrRX9i1N$Z2vZO7BYNj3bkgFIIeyWZ+35b+r6P1K-v73LMVsD4x$Ip510AufKmgyCLX6PpnbSdvsgRP3nfaZWZl-KxcXn05KSufawK5dQbtA1ZscpkSDZeSjfnQn6VVY3oZ2t7RkPb$$JmX934V0fZ6WxyRlE7g3IWO6CcaFbbbV$NifENLvXC7$JBVdbgQozOap9I4NgMENLQvE7xbWGCDStVSxcZjsV6bKfaNbt6ofaGwbbO6vI4raVaGwHpPD-xfQb6b7YFZIAPDQvb1Q7DQbb$1Gwij+Ybncb2rbamJCbyfapbt6yf7NbYbn6fHRUbPDSx6JaPD-Ukb1L6aoOdRy7OIbvyLbbVbSbLbyaOcbE+nabQYO6yJOLbswOSb76LQfaRdKXSbvIlocZj0Ry1yDSapTbO$bROW1bobBAobOZjJbKZio7ibybsbypOabT$OVOhbqfyVbvbsfoVblb66yoOfAa6olpBbnVXJOFbD6rcOubTpakOjbBNyYODL9YO3ObfYVyvONf2jMEOJfYZSkVDyaWnMb-QbbaQRmcZjcbnfbTf7fDNciX$fUbUsbMbOfoiom5O6TdaZwS6A2BlMVNcvxQbxbUioYbuMgJbJEc17XMPklpagSTQqOahOiUVxgIpLOiDIkbbhq6ExB-bdNoiyBfD6JEmcYORikfQp36yzjKRcxbAWwfIy$W2EbcCUhb$oIhf-$wflyVO7MJWycnnyfBygW74bcicQ7UqDNgQOtORwz4bIf1byfamJWVLbagO1bV1OQO1bLba6bTpBbbmbMNoIfFqsNWkWcJJfbvIV1bMbQryah1hvTI6k6Uh7xb6co$R7OVNO61qp76BonJoTgv4dAw9YcARxqQVKf7IfkzfF$sJ0zV3xtbDNbb7ok1UNN6b76sOn0I24hWn7cryLW1jOwpJn6iJWf$W2If$kiVH1cbpbbawbNJbb"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "*/*": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-chl-out-s": "YmHgaxW5hGmbkrsGrYWVyQ==$Tz9/MDJmxcVmt9Xxh3SGCw==",
          "cf-ray": "9df8242dacd2e4d0-RIX",
          "content-length": "0",
          "content-type": "text/plain; charset=UTF-8",
          "date": "Fri, 20 Mar 2026 22:26:56 GMT",
          "server": "cloudflare",
          "set-cookie": "[REDACTED]",
          "timing-allow-origin": "https://www.hltv.org"
        },
        "x-request-headers": {
          "sec-ch-ua-platform": "\"Windows\"",
          "referer": "",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "content-type": "text/plain;charset=UTF-8",
          "sec-ch-ua-mobile": "?0",
          "accept": "*/*",
          "cookie": "[REDACTED]",
          "origin": "https://www.hltv.org"
        }
      }
    },
    "/matches": {
      "get": {
        "summary": "GET /matches",
        "description": "Seen on pages: /matches\nSeen 1 time(s)\nExample URL: https://www.hltv.org/matches",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df824676ac0e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:27:05 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=3,cfOrigin;dur=0,cfWorker;dur=57",
          "set-cookie": "[REDACTED]",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "STALE"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/events/{id}/cct-season-3-europe-series-19-closed-qualifier": {
      "get": {
        "summary": "GET /events/{id}/cct-season-3-europe-series-19-closed-qualifier",
        "description": "Seen on pages: /matches\nSeen 1 time(s)\nExample URL: https://www.hltv.org/events/9065/cct-season-3-europe-series-19-closed-qualifier",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df8248fbb48e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:27:13 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=1055",
          "set-cookie": "[REDACTED]",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "referer": "https://www.hltv.org/matches",
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/results": {
      "get": {
        "summary": "GET /results",
        "description": "Seen on pages: /results\nSeen 1 time(s)\nExample URL: https://www.hltv.org/results",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df824a3ca23e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:27:15 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=3,cfOrigin;dur=0,cfWorker;dur=48",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "STALE"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/events": {
      "get": {
        "summary": "GET /events",
        "description": "Seen on pages: /events\nSeen 1 time(s)\nExample URL: https://www.hltv.org/events",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df824e398a8e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:27:25 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=50",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "STALE"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/ranking/teams": {
      "get": {
        "summary": "GET /ranking/teams",
        "description": "Seen on pages: /ranking/teams\nSeen 1 time(s)\nExample URL: https://www.hltv.org/ranking/teams",
        "parameters": [],
        "responses": {
          "302": {
            "description": "Response",
            "content": {
              "*/*": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df825238a61e4d0-RIX",
          "content-type": "text/plain;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:27:35 GMT",
          "location": "/ranking/teams/2026/march/16",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=54",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/ranking/teams/{id}/march/{id}": {
      "get": {
        "summary": "GET /ranking/teams/{id}/march/{id}",
        "description": "Seen on pages: /ranking/teams\nSeen 1 time(s)\nExample URL: https://www.hltv.org/ranking/teams/2026/march/16",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df825242aa3e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:27:35 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=57",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/stats/players": {
      "get": {
        "summary": "GET /stats/players",
        "description": "Seen on pages: /stats/players\nSeen 2 time(s)\nExample URL: https://www.hltv.org/stats/players",
        "parameters": [],
        "responses": {
          "307": {
            "description": "Response",
            "content": {
              "*/*": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "location": "https://www.hltv.org/stats/players"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      },
      "post": {
        "summary": "POST /stats/players",
        "description": "Seen on pages: /stats/players\nSeen 1 time(s)\nExample URL: https://www.hltv.org/stats/players",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "1680b1648916d9f7ac08a51fdfec6a7690f5dc720a758244b2dbcd3531421214=X6eQfLfz2tcejuZffQ2XuS0JLzDmsMsf3rZYMqpfqhE-1774045666-1.2.1.1-pE4tt1T4GiGn1JNNnlra_mucwUeScdyERuj4SUA_X6L.thIRiCE_Z23UvwBX6BEO7VqXtGTgq2h7XbTyfAbNFUFNi6mfP_.1Fv1y4z14k6Xr8aMUZ3NWmLHCwLelH114nrLY_.iC7k1B15HhwqD7SCDzgCRPug0Np1b6U7FalF5H4_JW.syWWJn_WTN0R8ztGKSI_Zy5Xtchnnk1ThcCtHHsv11zO5RL8UmNvmfYvEHZFffe1ha.PydQXwXn0dJAzH4r.rQzMhtY_thwb.q8uuYaDX9ZQeyTQVey5yPLtSCkmuc0ksqenIRfILHpt1YxmVkiWiInea.vVr2spP8cYqrFBo7uD_IsYj7UbRntNTEywBsTDQbgJ5olksHWTGy6KTzev2enIHgeifsg_By2GuwGD4ihmn3FqdcX6GacUYJ9CgQXz.BYGeMQrakAVKWBAsqbY3UDAZSGzIylsoFwk9l8Tbrr0tu3FcvEv3qZ7.PKMv9NokHOTo7YSaUJ8APbnG0HenYm7NXZHpG1xshfhFtZn9QHR01QtKJjGHyeUmy1ONz4q0O.cfM.v78tQbtN2S7Zya3XuVx4BbLZmKHdbkm8B7RnfU9E6ebWxpQTT6gS51uOYrY95_squpd.PqguriXQxLOMWkzsggo3WnAB_E9CUEymwQSw.G_502dY3ZTB2DvVJ5QCTRUvmyamHgjHfjU7W54oyjbTC4q17y8RI7FlmlgSPy7BC0I4WiVUc7ltjaxvGT23brv.Bi9TK1hpPzYYpwQWHBJ2lA2QCJwAe8nVqwY4Hxtg0J7LAA.2vwBMauNe2h8XJcyJWEiSmPgZma.sqqIyzTNS2jdwdppl5xx_LajE.ZKIFdXWB5zJum34CdKwimxs3IFDwtLxiNwUj_32w2WkNiSYSyf9f2iCgzGZfDhOFf8lag00u69j0VRiAwAglfL9PnDzyiNdkyQ7YgVYGbs7yMBrXZR6iBRbVoCwF920gA1RgPUULPq1zAM&05516c1a56dcb86728ced9a881895aaf95f84834bb45b24b5f69e2c74fd0b19a=YJ4FABMEeSCDXVuYlk33Afkkl1.DtZXFmDkltvIS78g-1774045666-1.2.1.1-ULZPf5kM.cUn1P3.1HkWId.5ct2s8Ef1XTg2gzKUTZoVzsF.Wc8GkGydtDORHYsATEWK53LEDW75UgQC38CpBi01XEfD84xMGtvLbasUSfgNi8Fz6iEmKl.Ry6TElCRqUYd7zInQVdT6sRHg9Av.vs8JoyfME0h4wi.Qb9zfqnRvu31xU3hFz.UQLCo2mHGrca3FQys1chq_vL8CiTzxAkkcg2xsWO8Wsayok3Wq7uE.svJ3_5A2sX7TWhh7yu2RiPJDQH9QTY2mBaCBW2Ac9VKnPxB.ModsMJOMbqUqdMYho9ecuKnqGzgcpqtPgxWDAqCxddCTWaTvGlvhEzS2XFeEC.teZG77OGIn9rMPr1kB1H4foCai0L8JVBt9QR9u_UKZ0hrXOuxrSsY6EjOoTciRdrb8GeNtSGW7je.Y99ZCORpodTav8bV6bAc3sSNs2132S.eC_Woa018yQBqz2P_m5koZds_R41Um3kEueQdkhzidpuHpa2ylSrg5pHiaBPZZw9WnbRRgPxuIzqdEaA7GtWxh2oGqDuBhLO9PzTGIJzA6JO9z1ovBLawVw3l4vqAA07jTCt_QDfWsMj8sTbsgbk6K8M2ovn7Gi6Ys4RUyZ6VVSdL8NGVHM_5LJxGa0aIk_vSvf5FckeHiCqo.W85tkpM6WbIJb2oa9By4FyMKJ3iIpspPZFybl.I3TKHpS9mXJpqDN5TDm6CqTpUSyQ.k40_S4T3CamXfiWp2q.rIxVSfkxgTnu7zzIJ8KCCl7AE0yxO6bVzmFnd2heyfjVlIf..qBmCDp9T87i2RIdUfz4eg3__i4l8Jhf4Z0h83G3skJY5ob.xN.C1TQ2YhNmu5BJCbcP28eXwGQWoEYTwPI71Qc5XVs4Mah06NRGVvV51SewD.7GExBAuQI8TUQw&ced93684fc444ddc87f9985ead49112e11524b95d6ea3aa211c90f6c488d3b0a=MXz5Lm1julyXzhzueWD680z_g9Nuxn7OdlUAh3V.a1o-1774045667-1.0.1.1-YZ6jNwbjqw_1HmHOBgP2.x_1XnFSWui6Lj6X7SI6PXCtu5pkoggIVVEeBB.lkul6sarEUPmd5ocarKbFEKvTEi18J3gqPpliofmm7nXhdYL.qWJ09R9BE2IFDEM0oqBJtMSyf8dcRZaKE7xNE624cbTqgM0QPMPk.G5AkMvC7b2HGN.hxRWUcphOIqLnQPRb"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df825707a9de4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:27:48 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=556",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "content-type": "application/x-www-form-urlencoded",
          "origin": "https://www.hltv.org",
          "referer": "https://www.hltv.org/stats/players?__cf_chl_tk=ZF_AN.79pxrvlJTGqMaTYxxW9oOYdaPeVJNK47X9Dzc-1774045666-1.0.1.1-0gLzQYVuOoTEQ1QGVj4Ajm_5wFhaBeQ8eqF9vZ.xwto",
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/cdn-cgi/challenge-platform/h/g/orchestrate/chl_page/v1": {
      "get": {
        "summary": "GET /cdn-cgi/challenge-platform/h/g/orchestrate/chl_page/v1",
        "description": "Seen on pages: /stats/players\nSeen 1 time(s)\nExample URL: https://www.hltv.org/cdn-cgi/challenge-platform/h/g/orchestrate/chl_page/v1?ray=9df825656d30e4d0",
        "parameters": [
          {
            "in": "query",
            "name": "ray",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "*/*": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cache-control": "private, max-age=0, no-store, no-cache, must-revalidate, post-check=0, pre-check=0",
          "cf-ray": "9df82565cd59e4d0-RIX",
          "content-encoding": "br",
          "content-type": "application/javascript; charset=UTF-8",
          "date": "Fri, 20 Mar 2026 22:27:46 GMT",
          "server": "cloudflare",
          "set-cookie": "[REDACTED]"
        },
        "x-request-headers": {
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "referer": "https://www.hltv.org/stats/players?__cf_chl_rt_tk=ZF_AN.79pxrvlJTGqMaTYxxW9oOYdaPeVJNK47X9Dzc-1774045666-1.0.1.1-0gLzQYVuOoTEQ1QGVj4Ajm_5wFhaBeQ8eqF9vZ.xwto",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "*/*",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/cdn-cgi/challenge-platform/h/g/flow/ov1/384084140:1774042899:NOk2YagHaDsILLCL3-GL2JGcQCwZgNldNImqUtTSR0M/9df825656d30e4d0/PsJYIFgT9dtR1XDvfDn2k7BviAgy2FVrLEp5I9COdqw-1774045666-1.2.1.1-3YAH61avMsycyEE5I69BUOhegfloPmG1DVIK2X_KvQM7QfL2I1FDJ65MQQctgR8m": {
      "post": {
        "summary": "POST /cdn-cgi/challenge-platform/h/g/flow/ov1/384084140:1774042899:NOk2YagHaDsILLCL3-GL2JGcQCwZgNldNImqUtTSR0M/9df825656d30e4d0/PsJYIFgT9dtR1XDvfDn2k7BviAgy2FVrLEp5I9COdqw-1774045666-1.2.1.1-3YAH61avMsycyEE5I69BUOhegfloPmG1DVIK2X_KvQM7QfL2I1FDJ65MQQctgR8m",
        "description": "Seen on pages: /stats/players\nSeen 2 time(s)\nExample URL: https://www.hltv.org/cdn-cgi/challenge-platform/h/g/flow/ov1/384084140:1774042899:NOk2YagHaDsILLCL3-GL2JGcQCwZgNldNImqUtTSR0M/9df825656d30e4d0/PsJYIFgT9dtR1XDvfDn2k7BviAgy2FVrLEp5I9COdqw-1774045666-1.2.1.1-3YAH61avMsycyEE5I69BUOhegfloPmG1DVIK2X_KvQM7QfL2I1FDJ65MQQctgR8m",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "vbG6AF7VxnMQcyvKoQ6TjwixDi1-XuO7DPIt+ETdCQjj$kUTPedC$grVd4Pl9kI1pnSOouz6dkXCTTQiJ8N2i-TtRRWAVW5dZFWATeObg4T4duIJ1t-pBc0HMgixIkzOElgPOZ3e9ctENBmBuGEUSeKZtwWXcbijTQ1QTb0KVvEIonBQdy3W9Ze4BtHS$pNFE3spP1aYsZ4XNzqg$Y+Y1JwuHpXiT3uq+cE8qQX04gw4J9OnpClluFmgipMtvUd7OrnsPl515dB2r6uDdqEG30KOMlCXI55HvvXXpPLfWauQZKCbjLNTSke807fN31q$L5snd5nxT3k1Op-QA89XO2R8gqlox63ORW8JSRo85D5AAI$5NE7rOkNjTiPIIwfXejeINGZ60-C$TYjLyp+mHrjFTzmV-BXfYCifLKqpCtupuWWGnynKEy0UfcNQvfgbTSPaa9STX3XItTfA9eWyVVNW+KRp7G6D9o3gYn9AcMUoo5sy0VU8RpqdnQlRC2Gdvm$2fLO3eRUjPIfls9gCjNxLBEpM1Epknw$-uBCMFYLMgvi+lcmd$VfL$MiHu9dJxyoMdMIGstDW0X6CrOxQ9EQ+1NbPSZ7LFE9XvLALXvz$Js9QVtuoPI+SQRyMf69zs2Mt38uPZ3bp1MKDlv9x1QalxM9tb61jbN+WlsZn2kdAOoj9ndSHPu2CdQ9lVyy0dq63JF-Lc3U2aK0Z-$gJjp78p+D6vCX7xXx1I+pdD16yOwk+1Jco4eJw6nBwoQHPGyYDFZnxkS7SmkL-7kaZOoouDI27o8Si4aISCm$0x5OCBJ$QmK4PqJdvwWJ$bEiY9KWwOjEb-67VKdWiHL-UpfXqJnFPRCPiqw30PWoX9TfdBzWB8nwxOMu+yVH5DP1c+JAfHvTVAKb3plOXfLNDj4qLda9tY78Y+15k22QJXt4s+9bpNZuM4LZFLAstWtHa+gyfdZqtmpzw-kbuA3qVF0jROm9JIiDzy-quKoxjfNOkUxPe79mqBFdZdmeyAUWRzZ06XqiyK5z9CPU1Mp6OUx9y7UUKjVDm9GI+lXsOGyYJFKi95G5mtsBBC3ZfZlIKqo7qkx+xSDAe2nU9gi2eDM+H+FtJ0X-Mbnot26RlLN05XNIIt6ROE$e8g4L1++5qyr+eyAat9LZCmK8aJ7K-A6yWLiLNXUrSYbdz3YiOdrskKQBg+sdq1RWgd4tlWP$IGnGD0mU6lKqeO$FB2SkySppFtVbDQ5rRKFG8EMXA21y-oofOJzq9V+NQ9$ygt7QULjtStmW3L-jMrYuqALL-kTb1q6pRNo2ukynZ5ZZzU5XbcBluDpEpRbrxOpGqWrSIAYgBoUWQYiNpba3EyWcMjirXZJAA8X6pgFk2CwRf+6kY+gGZXicPVaF7J7V-EcVsR7q4qO+W$ZESrJwBS1eX-zLn13ACg+12vTHAXr2vx9$1CResQ5rmrgH3wFqvU+kXaLwLGPm1fpxZRdd$egYjwESHRLVujEtINOi-ude1FSwG2XfFwSqyou2sXF3fg9nqwHZI26guaj31HgL4Ky7FSmJP7LM36g3f1TNINNeEOgzCXU7W2+bAWjlR550etlwv1sBxfk82bXIf2xO7YdiBHfBZyqJz8S8Mwy+u6jWCa9PRGjASkCVVjDDWP1RRMc5FQu4ocCknQMZ-s6D0p$XSfypzHnUgkZX11TmV+Mik25MY$y4Z4VdyNSNDXf1swKmedXtR0eY0WU9KLF4iVD2yw8XSut29R+aAl-ivE9tF8QV4U+Sp-bPPvnaWVarxYx-H9p7pN0SFNVuKFpzNWJv46AzEoDcZpkggf+TkbEkeAqZ5pwwr7ijYbITM0IVaJomHFLcz8zTJccRoX8c1sDtOLEZYdbPEIldvADowPjgFpGv9JexgfvRNgaRHBAM9-BS3+WqfNoMyZqWoRT6bzuX75ci5+2r56qP-AOfYyTxRPRC1xi01e52P1aDzsI7cjOIoyeQwF4sVbCX8BUr2qZFpRE-0ckbutFMqXKKX4S-2EOjnR6vglVWIRLeRS8$tAnxqtb3WCMIqI8W7D5omcVmMfuSf8jCkj$GHCQVSfZZF-VCr2-c7UmTT387di-VG$3eXKZGW1c$P90gqv-3ca4vc6lENfZg2lx$uoxG+pF1-lCUGNUq-gv4k-Uu"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "*/*": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-chl-gen": "NHuCzlh2tJRX66S7FsQhv1BioJbfBbK4GJEzPsyrxGM=$ydicdCB35geFkQmSG/hlew==",
          "cf-ray": "9df82566ee0ce4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/plain; charset=UTF-8",
          "date": "Fri, 20 Mar 2026 22:27:46 GMT",
          "server": "cloudflare",
          "set-cookie": "[REDACTED]",
          "timing-allow-origin": "https://www.hltv.org"
        },
        "x-request-headers": {
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "referer": "https://www.hltv.org/stats/players",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-bitness": "\"64\"",
          "cf-chl-ra": "0",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "content-type": "text/plain;charset=UTF-8",
          "cf-chl": "PsJYIFgT9dtR1XDvfDn2k7BviAgy2FVrLEp5I9COdqw-1774045666-1.2.1.1-3YAH61avMsycyEE5I69BUOhegfloPmG1DVIK2X_KvQM7QfL2I1FDJ65MQQctgR8m",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "*/*",
          "cookie": "[REDACTED]",
          "origin": "https://www.hltv.org"
        }
      }
    },
    "/stats/teams": {
      "get": {
        "summary": "GET /stats/teams",
        "description": "Seen on pages: /stats/teams\nSeen 1 time(s)\nExample URL: https://www.hltv.org/stats/teams",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df825a89ccbe4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:27:57 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=1073",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/stats/matches": {
      "get": {
        "summary": "GET /stats/matches",
        "description": "Seen on pages: /stats/matches\nSeen 1 time(s)\nExample URL: https://www.hltv.org/stats/matches",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df825ee19f0e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:28:08 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=263",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/news/archive": {
      "get": {
        "summary": "GET /news/archive",
        "description": "Seen on pages: /news/archive\nSeen 1 time(s)\nExample URL: https://www.hltv.org/news/archive",
        "parameters": [],
        "responses": {
          "302": {
            "description": "Response",
            "content": {
              "*/*": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df8262e6e9ee4d0-RIX",
          "content-type": "text/plain;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:28:18 GMT",
          "location": "/news/archive/2026/march",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=66",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/news/archive/{id}/march": {
      "get": {
        "summary": "GET /news/archive/{id}/march",
        "description": "Seen on pages: /news/archive\nSeen 1 time(s)\nExample URL: https://www.hltv.org/news/archive/2026/march",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df8262f1f0fe4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:28:18 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=83",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/forums": {
      "get": {
        "summary": "GET /forums",
        "description": "Seen on pages: /forums\nSeen 1 time(s)\nExample URL: https://www.hltv.org/forums",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df8266ced61e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:28:28 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=60",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/streams": {
      "get": {
        "summary": "GET /streams",
        "description": "Seen on pages: /streams\nSeen 1 time(s)\nExample URL: https://www.hltv.org/streams",
        "parameters": [],
        "responses": {
          "404": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df826abef29e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:28:38 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=5,cfOrigin;dur=0,cfWorker;dur=76",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/player/{id}/s1mple": {
      "get": {
        "summary": "GET /player/{id}/s1mple",
        "description": "Seen on pages: /player/7998/s1mple\nSeen 1 time(s)\nExample URL: https://www.hltv.org/player/7998/s1mple",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df826ec4d39e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:28:48 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=5,cfOrigin;dur=0,cfWorker;dur=57",
          "set-cookie": "[REDACTED]",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/pronunciation/xav8z77YAGrsqRxUm3RQdV.mp3": {
      "get": {
        "summary": "GET /pronunciation/xav8z77YAGrsqRxUm3RQdV.mp3",
        "description": "Seen on pages: /player/7998/s1mple\nSeen 2 time(s)\nExample URL: https://pronunciation.hltv.org/pronunciation/xav8z77YAGrsqRxUm3RQdV.mp3",
        "parameters": [],
        "responses": {
          "206": {
            "description": "Response",
            "content": {
              "*/*": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "content-length": "5085",
          "content-range": "bytes 0-5084/5085",
          "age": "5373",
          "cache-control": "public, max-age=28800",
          "cf-cache-status": "HIT",
          "cf-ray": "9df826ef6f1ee4d0-RIX",
          "content-type": "audio/mpeg",
          "date": "Fri, 20 Mar 2026 22:28:49 GMT",
          "etag": "\"682c2735e67da556909870bd9997eeb5\"",
          "expires": "Sat, 21 Mar 2026 06:28:49 GMT",
          "last-modified": "Wed, 23 Nov 2022 10:28:57 GMT",
          "server": "cloudflare",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "Accept-Encoding"
        },
        "x-request-headers": {
          "sec-ch-ua-platform": "\"Windows\"",
          "referer": "https://www.hltv.org/",
          "accept-encoding": "identity;q=1, *;q=0",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "range": "bytes=0-",
          "sec-ch-ua-mobile": "?0",
          "accept": "*/*",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/team/{id}/natus-vincere": {
      "get": {
        "summary": "GET /team/{id}/natus-vincere",
        "description": "Seen on pages: /team/4608/natus-vincere\nSeen 1 time(s)\nExample URL: https://www.hltv.org/team/4608/natus-vincere",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df8272bdc6ce4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:28:58 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=5,cfOrigin;dur=0,cfWorker;dur=53",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "STALE"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/events/{id}/iem-katowice-2025": {
      "get": {
        "summary": "GET /events/{id}/iem-katowice-2025",
        "description": "Seen on pages: /events/8413/iem-katowice-2025\nSeen 1 time(s)\nExample URL: https://www.hltv.org/events/8413/iem-katowice-2025",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df8276f7b96e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:29:09 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=51",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/stats/players/{id}/s1mple": {
      "get": {
        "summary": "GET /stats/players/{id}/s1mple",
        "description": "Seen on pages: /stats/players/7998/s1mple\nSeen 1 time(s)\nExample URL: https://www.hltv.org/stats/players/7998/s1mple",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df827b03971e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:29:20 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=474",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/stats/teams/{id}/natus-vincere": {
      "get": {
        "summary": "GET /stats/teams/{id}/natus-vincere",
        "description": "Seen on pages: /stats/teams/4608/natus-vincere\nSeen 1 time(s)\nExample URL: https://www.hltv.org/stats/teams/4608/natus-vincere",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df827f25b95e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:29:30 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=86",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/stats/teams/maps/{id}/natus-vincere": {
      "get": {
        "summary": "GET /stats/teams/maps/{id}/natus-vincere",
        "description": "Seen on pages: /stats/teams/maps/4608/natus-vincere\nSeen 1 time(s)\nExample URL: https://www.hltv.org/stats/teams/maps/4608/natus-vincere",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df82830a833e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:29:40 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=5,cfOrigin;dur=0,cfWorker;dur=150",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/stats/teams/matches/{id}/natus-vincere": {
      "get": {
        "summary": "GET /stats/teams/matches/{id}/natus-vincere",
        "description": "Seen on pages: /stats/teams/matches/4608/natus-vincere\nSeen 1 time(s)\nExample URL: https://www.hltv.org/stats/teams/matches/4608/natus-vincere",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df8286fda3ae4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:29:51 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=4,cfOrigin;dur=0,cfWorker;dur=298",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    },
    "/stats/teams/events/{id}/natus-vincere": {
      "get": {
        "summary": "GET /stats/teams/events/{id}/natus-vincere",
        "description": "Seen on pages: /stats/teams/events/4608/natus-vincere\nSeen 1 time(s)\nExample URL: https://www.hltv.org/stats/teams/events/4608/natus-vincere",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "text/html": {
                "example": null
              }
            }
          }
        },
        "x-response-headers": {
          "alt-svc": "h3=\":443\"; ma=86400",
          "cf-cache-status": "DYNAMIC",
          "cf-ray": "9df828be6e05e4d0-RIX",
          "content-encoding": "br",
          "content-type": "text/html;charset=utf-8",
          "date": "Fri, 20 Mar 2026 22:30:04 GMT",
          "server": "cloudflare",
          "server-timing": "cfCacheStatus;desc=\"DYNAMIC\"\ncfEdge;dur=5,cfOrigin;dur=0,cfWorker;dur=942",
          "speculation-rules": "\"/cdn-cgi/speculation\"",
          "vary": "accept-encoding",
          "x-proxy-cache": "MISS"
        },
        "x-request-headers": {
          "upgrade-insecure-requests": "1",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
          "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
          "sec-ch-ua-arch": "\"x86\"",
          "sec-ch-ua-bitness": "\"64\"",
          "sec-ch-ua-full-version": "\"146.0.7680.81\"",
          "sec-ch-ua-full-version-list": "\"Chromium\";v=\"146.0.7680.81\", \"Not-A.Brand\";v=\"24.0.0.0\", \"Google Chrome\";v=\"146.0.7680.81\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-model": "\"\"",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-ch-ua-platform-version": "\"15.0.0\"",
          "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
          "cookie": "[REDACTED]"
        }
      }
    }
  }
}